/***********************************TAG SELECTORS******************************************/
input{
    margin:5px;
    padding: 5px;
}


table th{
    font-size: 15px;
}

/**********************************CLASS SELECTORS*****************************************/
.column{
    background-color: lightgray;
    float: left;
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
}

.left{
    margin-left: 6px;
    width: 20%;
}

.mid{
    background-color: white;
    width: 40%;
}

.right{
    margin-right: 25px;
    position: -webkit-sticky; /*Safari*/
    position: sticky;
    top: 5px;
    width: 35%;
}

.validation{
    color:red;
}

.mid-button-container{
    margin: 5px 0 0 0;
    text-align: right;
}

.info{
    font-size: 15px;
    height: 80%;
    line-height: 30px;
    overflow-y: scroll;
}

.info::-webkit-scrollbar{
    display: none;
}

.info input{
    margin: 3px;
    padding: 3px;
}

.info select{
    margin: 5px;
}

.mid-table-row:hover{
    cursor: pointer;
    color: gray;
}

/*************************************ID SELECTORS*****************************************/
#header>*{
    /* Select level 1 children */
    display: inline-block;
} 

#header img{
    max-height: 100%;
    max-width: 100%;
    padding-left: 5px;
    /* display: block; */
}

#header{
    background-color:#1881c5;
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    height: 100px;
    margin: 10px;
    padding-bottom: 10px;
    width: 98%;
}

#header p{
    color:white;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 2em;
    padding: 50px 20px 10px;
    position: absolute;
    right: 20px;
}

#search-container{
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
}

#list-container{
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
    border-top: 0px;
    border-width: 1px;
    padding: 10px;
}

#list-container li a:link{
    color: black;
    line-height: 20px;
    text-decoration: none;
}

#list-container li a:visited{
    color: slategray;
    line-height: 20px;
    text-decoration: none;
}

#list-container li a:hover{
    color: inherit;
    cursor: pointer;
    line-height: 20px;
    text-decoration: underline;
}

#mid-column{
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
}

#right-column{
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
}


#footer{
    background-color: #1881c5;
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    color: white;
    display: inline-block;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 0.75em;
    margin: 5px;
    padding-left: 5px;
    padding-top: 20px;
    position: relative;
    width: 98%;
}


#content-pane{
    align-items: flex-start;
    display: flex;
    justify-content: space-around;
    min-height: 100%;
    overflow: visible;
}

#mid-table-list h4{
    font-weight: bold;
    text-align: right;
}

#mid-table-list table{
    border-collapse: collapse;
    color: darkslategray;
    width: 100%;
}

#mid-table-list th, #mid-table-list td{
    border: 1px gray solid;
    height: 50px;
    padding-left: 6px;
}

@media screen and (max-width: 1250px) {
    .column {
        display: inline-block;
        float: none;
    }

    .left{
        width: 98%;
    }

    .mid{
        width: 98%;
    }

    .right{
        width: 98%;
    }
  }