html {
        height: 100%;
}

#float-nav {
    position: fixed; 
    top: 0px; 
    left:  50%; 
    margin-left:-450px;
    width: 900px; 
    height: 90px;
    
    
    _left: expression( ( 20 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
    _top: expression( ( 10 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );


}

.shoppingcart {
    padding: 0px 10px;
    color:#545454;
    font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size:10px;
    line-height:14px;
}

.shoppingcart p strong {
    float:right;
    font-size:14px;
    padding-right:10px;
}

.boxText {
        font-family: Verdana, Arial, sans-serif;
        font-size: 10px;
}

.errorBox {
        font-family : Verdana, Arial, sans-serif;
        font-size : 10px;
        background: #ffb3b5;
        font-weight: bold;
}

.stockWarning {
        font-family : Verdana, Arial, sans-serif;
        font-size : 10px;
        color: #cc0033;
}

.productsNotifications {
        background: #f2fff7;
}

.orderEdit {
        font-family : Verdana, Arial, sans-serif;
        font-size : 10px;
        color: #70d250;
        text-decoration: underline;
}

.spiffy{display:block}
.spiffy *{
  display:block;
  height:1px;
  overflow:hidden;
  font-size:.01em;
  background:#FFFFFF}
.spiffy1{
  margin-left:3px;
  margin-right:3px;
  padding-left:1px;
  padding-right:1px;
  border-left:1px solid #989898;
  border-right:1px solid #989898;
  background:#d2d2d2}
.spiffy2{
  margin-left:1px;
  margin-right:1px;
  padding-right:1px;
  padding-left:1px;
  border-left:1px solid #5d5d5d;
  border-right:1px solid #5d5d5d;
  background:#dcdcdc}
.spiffy3{
  margin-left:1px;
  margin-right:1px;
  border-left:1px solid #dcdcdc;
  border-right:1px solid #dcdcdc;}
.spiffy4{
  border-left:1px solid #989898;
  border-right:1px solid #989898}
.spiffy5{
  border-left:1px solid #d2d2d2;
  border-right:1px solid #d2d2d2}
.spiffyfg{
  background:#FFFFFF}

#wall-container {
    /* background:transparent url(./season/wall/ssf4_wall.png) no-repeat center top; */
}

BODY {
        background:#37649D url(images/bg-wall.gif) repeat-y scroll center top;
        margin: 0px;
        height: 100%;
}

a img {
        border: 0px;
}

A {
color: #747474;
text-decoration: none;
}

A:hover {
color: #888888;
text-decoration: underline;
}

FORM {
display: inline;
}

TR.header {
background: #ffffff;
}

TR.headerNavigation {
background: #bbc3d3;
}

TD.headerNavigation {
font-family: Verdana, Arial, sans-serif;
font-size: 10px;
background: #bbc3d3;
color: #ffffff;
font-weight : bold;
}

A.headerNavigation {
color: #FFFFFF;
font-size: 13px;
font-weight: bold;
text-decoration: none;
}

A.headerNavigation:hover {
color: #FFFFFF;
font-size: 13px;
font-weight: bold;
text-decoration: underline;
}

TR.headerError {
background: #ff0000;
}

TD.headerError {
font-family: Tahoma, Verdana, Arial, sans-serif;
font-size: 12px;
background: #ff0000;
color: #ffffff;
font-weight : bold;
text-align : center;
}

TR.headerInfo {
background: #00ff00;
}

TD.headerInfo {
font-family: Tahoma, Verdana, Arial, sans-serif;
font-size: 12px;
background: #00ff00;
color: #ffffff;
font-weight: bold;
text-align: center;
}

TR.footer {
background: #bbc3d3;
}

TD.footer {
font-family: Verdana, Arial, sans-serif;
font-size: 10px;
background: #bbc3d3;
color: #ffffff;
font-weight: bold;
}

.infoBox {
background: #D3D1D1;
}

.infoBoxContents {
background: #FFFFFF;
font-family: Verdana, Arial, sans-serif;
font-size: 10px;
}

.infoBoxNotice {
background: #FF8E90;
}

.infoBoxNoticeContents {
background: #FFE6E6;
font-family: Verdana, Arial, sans-serif;
font-size: 10px;
}

TD.infoBoxHeading {
background-image: url('images/infobox/corner_center.gif');
font-family: Arial, Verdana, sans-serif;
font-size: 18px;
font-weight: normal;
color: #000000;
display: none;
}

TD.infoBox, SPAN.infoBox {
font-family: Verdana, Arial, sans-serif;
font-size: 10px;
}

TR.accountHistory-odd, TR.addressBook-odd, TR.alsoPurchased-odd, TR.payment-odd, TR.productListing-odd, TR.productReviews-odd, TR.upcomingProducts-odd, TR.shippingOptions-odd {
background: #F1F1F1;
}

TR.accountHistory-even, TR.addressBook-even, TR.alsoPurchased-even, TR.payment-even, TR.productListing-even, TR.productReviews-even, TR.upcomingProducts-even, TR.shippingOptions-even {
background: #F1F1F1;
}

TABLE.productListing {
border: 0px;
border-style: solid;
border-color: #E3E3E3;
border-spacing: 1px;

}

.productListing-heading {
font-family: Tahoma, Verdana, Arial, sans-serif;
font-size: 11px;
background: #E3E3E3;
color: #9F1A37;
font-weight: bold;
padding: 10px;
}

TD.productListing-data {

font-family: Tahoma, Verdana, Arial, sans-serif;
font-size: 11px;
color: #282E3E;
}

A.pageResults {
color: #747474;
text-decoration: none;
}

A.pageResults:hover {
color: #747474;
text-decoration: underline;
}

TD.pageHeading, DIV.pageHeading {
font-size: 13px;
color: #848282;
font-weight: bold;
height: 28px;
width: 461px;
background: url('images/m99.gif');
background-repeat: repeat-x;
padding-top: 10px;
padding-left: 20px;
text-transform: none;
}

TR.subBar {
background: #f4f7fd;
}

TD.subBar {
font-family: Verdana, Arial, sans-serif;
font-size: 10px;
color: #000000;
}

TD.main, P.main {
font-family: Verdana, Arial, sans-serif;
font-size: 11px;
line-height: 1.5;
}

TD.smallText, SPAN.smallText, P.smallText {
font-family: Verdana, Arial, sans-serif;
font-size: 10px;
}

TD.accountCategory {
font-family: Verdana, Arial, sans-serif;
font-size: 13px;
color: #aabbdd;
}

TD.fieldKey {
font-family: Verdana, Arial, sans-serif;
font-size: 12px;
font-weight: bold;
}

TD.fieldValue {
font-family: Verdana, Arial, sans-serif;
font-size: 12px;
}

TD.tableHeading {
font-family: Verdana, Arial, sans-serif;
font-size: 12px;
font-weight: bold;
}

SPAN.newItemInCart {
font-family: Verdana, Arial, sans-serif;
font-size: 10px;
color: #ff0000;
}

CHECKBOX, INPUT, RADIO, SELECT {
font-family: Verdana, Arial, sans-serif;
font-size: 11px;
}

TEXTAREA {
width: 100%;
font-family: Verdana, Arial, sans-serif;
font-size: 11px;
}

SPAN.greetUser {
font-family: Verdana, Arial, sans-serif;
font-size: 12px;
color: #f0a480;
font-weight: bold;
}

TABLE.formArea {
background: #f1f9fe;
border-color: #7b9ebd;
border-style: solid;
border-width: 1px;
}

TD.formAreaTitle {
font-family: Tahoma, Verdana, Arial, sans-serif;
font-size: 12px;
font-weight: bold;
}

SPAN.markProductOutOfStock {
font-family: Tahoma, Verdana, Arial, sans-serif;
font-size: 12px;
color: #c76170;
font-weight: bold;
}

SPAN.productSpecialPrice {
font-family: Verdana, Arial, sans-serif;
color: #ff0000;
}

SPAN.errorText {
font-family: Verdana, Arial, sans-serif;
color: #ff0000;
}

.moduleRow { }
.moduleRowOver { background-color: #DBDBDB; cursor: pointer;}
.moduleRowSelected { background-color: #E9E9E9; }

.checkoutBarFrom, .checkoutBarTo { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #8c8c8c; }
.checkoutBarCurrent { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #000000; }

/* message box */

.messageBox { font-family: Verdana, Arial, sans-serif; font-size: 10px; }
.messageStackError, .messageStackWarning { font-family: Verdana, Arial, sans-serif; font-size: 10px; background-color: #ffb3b5; }
.messageStackSuccess { font-family: Verdana, Arial, sans-serif; font-size: 10px; background-color: #99ff00; }

/* input requirement */

.inputRequirement { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #ff0000; }

td{
font-family: tahoma,verdana,arial;
font-size: 11px;
color: #848282;
}

.dv{
background-image: url(images/m36.gif);
background-repeat: repeat-x;
}

.bg{
background-image: url(images/m23.gif);
background-repeat: repeat-y;
}

.bgm1{
background-image: url(images/mm29.gif);
background-repeat: repeat-y;
height: 500px;
}

.bg1{
background-image: url(images/m29.gif);
background-repeat: repeat-y;
}

.bg2{
background-image: url(images/m42.gif);
background-repeat: repeat-y;
}

.bg3{
background-image: url(images/m48.gif);
background-repeat: repeat-y;
}

.bg4{
background-image: url(images/m59.gif);
background-repeat: repeat-y;
}

.go{
border-style: solid;
border-width: 1px;
border-color: #A1A1A1;
height: 20px;
}

.cy{
font-size: 11px;
color: #747474;
font-weight: bold;
}

.cy1{
font-size: 14px;
color: #FF850D;
font-weight: bold;
}

.cy2{
font-size: 13px;
color: #848282;
font-weight: bold;
}


.ml{
font-size: 11px;
color: #08A8C4;
text-decoration: none;
}

.ml1{
font-size: 11px;
color: #848282;
text-decoration: none;
}

.ml2{
font-size: 10px;
color: #848282;
text-decoration: underline;
}

.px2{
font-size: 2px;
}

.px4{
font-size: 4px;
}

.se{
width: 110px;
font-size: 9px;
}

.cart { font-family: Arial, sans-serif; }

.cart a {
        font-family: tahoma,verdana,arial;
        font-size: 11px;
        color: #747474;
        text-decoration: none;
}

.nheader a {
        text-decoration:none;
        color:#765;
        line-height:24px;
        display: block;
        text-align: center;
}

.nheader {
        float:left;
        width:100%;
        font-size: 11px;
        font-family: Arial, sans-serif;
        line-height:normal;
}
.nheader ul {
        margin:0;
        padding:0px 10px 0;
        list-style:none;
}
.nheader li {
        float:left;
        margin:0;
        padding:0 0 0 9px;
}

.nheader a {
        float:left;
        display:block;
        padding:5px 1px 5px 1px;
        text-decoration:none;
        color:#765;
}

.nheader a {
        //float:none;
}

.nheader a:hover {
        color:#FFFFFF;
        background-color: #D2D2D2;
}

.nheader #current {
        border-width:0;
}

.nheader #current a {
        color:#333;
        padding-bottom:5px;
}

.bc{display:block}
.bc *{
  display:block;
  height:1px;
  overflow:hidden;
  font-size:.01em;
  background:#E4E4E4}
.bc1{
  margin-left:3px;
  margin-right:3px;
  padding-left:1px;
  padding-right:1px;
  border-left:1px solid #f3f3f3;
  border-right:1px solid #f3f3f3;
  background:#eaeaea}
.bc2{
  margin-left:1px;
  margin-right:1px;
  padding-right:1px;
  padding-left:1px;
  border-left:1px solid #fcfcfc;
  border-right:1px solid #fcfcfc;
  background:#e9e9e9}
.bc3{
  margin-left:1px;
  margin-right:1px;
  border-left:1px solid #e9e9e9;
  border-right:1px solid #e9e9e9;}
.bc4{
  border-left:1px solid #f3f3f3;
  border-right:1px solid #f3f3f3}
.bc5{
  border-left:1px solid #eaeaea;
  border-right:1px solid #eaeaea}
.bcfg{
  background:#E4E4E4}
.e {
        color:#D2D2D2;
}

.f {
        color:#000000;
}

.estimatedshippingBox {
background: #FFFFFF;
}

TD.estimatedshippingBoxHeading {
font-family: Verdana, Arial, sans-serif;
font-size: 10px;
background: #bbc3d3;
color: #ffffff;
}

.estimatedshippingBoxContents {
background: #f8f8f9;
font-family: Verdana, Arial, sans-serif;
font-size: 10px;
}

.ShowShipping {
background: #444ddd;
color: #fffffa;
font-family: Verdana, Arial, sans-serif;
font-size: 6px;
text-align: center;
}

@charset "utf8";

.inner{width:526px; height:300px; overflow:hidden; zoom:1; position:relative;margin:0;padding:0;}
.clearfix{ overflow:hidden; zoom:1;}

.focus ul{  padding-top:1px; position:absolute; top:230px; left:20px; margin:0; padding:0; z-index:200;} 
.focus li{ height:42px; overflow:hidden; zoom:1; float:left; list-style:none;filter:alpha(opacity=50);opacity:0.5;}
.focus li img{ float:left; border:1px solid #999; width:75px; height:40px; margin:0 22px; cursor:pointer}
.focus li dl{ width:214px;float:right; color:#4A4A4A;} 
.focus li.up{ filter:alpha(opacity=100);opacity:1;}
.focus li.up a{ color:#FD0E57;}

.big_img{  width:620px; height:380px; overflow:hidden;}
.big_img a { display:block;width:620px; height:380px; overflow:hidden;}
.big_img img{}
